# Registry
registry=https://registry.npmmirror.com

# Binary mirrors
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# Hoisting
shamefully-hoist=true
public-hoist-pattern[]=*sharp*

# Cache
side-effects-cache=false

# Strict mode
strict-peer-dependencies=false
auto-install-peers=true
save-exact=false

# Performance
prefer-frozen-lockfile=false