!xrk
xrk/**
!xrk/index.html
!xrk/api-config.json
!xrk/styles.css
!xrk/css/
!xrk/css/*
!xrk/app.js
!xrk/modules/pages/
!xrk/modules/pages/*
!xrk/modules/ui/
!xrk/modules/ui/*
!xrk/lib
!xrk/lib/chart.umd.min.js
!xrk/lib/mermaid.min.js
!xrk/lib/codemirror
!xrk/lib/codemirror/lib
!xrk/lib/codemirror/lib/codemirror.min.js
!xrk/lib/codemirror/lib/codemirror.min.css
!xrk/lib/codemirror/theme
!xrk/lib/codemirror/theme/monokai.min.css
!xrk/lib/codemirror/mode
!xrk/lib/codemirror/mode/javascript
!xrk/lib/codemirror/mode/javascript/javascript.min.js
!xrk/modules
!xrk/modules/*