*
!.gitignore

!plugin
plugin/**
!plugin/enhancer
!plugin/enhancer/*.js
!plugin/example
!plugin/example/*.js

!tasker
tasker/**
!tasker/ComWeChat.js
!tasker/OneBotv11.js
!tasker/stdin.js
!tasker/GSUIDCORE.js
!tasker/QBQBot.js

!http
http/**
!http/bot.js
!http/core.js
!http/device.js
!http/files.js
!http/loader.js
!http/plugin.js
!http/stdin.js
!http/write.js
!http/config.js
!http/ai.js

!events
events/**
!events/device.js
!events/onebot.js
!events/stdin.js

!stream
stream/**
!stream/chat.js
!stream/device.js

!commonconfig
commonconfig/**
!commonconfig/system.js

*.psd
*.map