*
!.gitignore

!plugin
plugin/**

!adapter
adapter/**
!adapter/ComWeChat.js
!adapter/OneBotv11.js
!adapter/stdin.js
!adapter/GSUIDCORE.js
!adapter/QBQBot.js
!adapter/Satori.js

!http
http/**
!http/bot.js
!http/core.js
!http/device.js
!http/files.js
!http/loader.js
!http/plugin.js
!http/stdin.js
!http/write.js
!http/config.js
!http/ai.js
!http/utils.js

!events
events/**
!events/online.js
!events/connect.js
!events/device.js
!events/message.js
!events/notice.js
!events/request.js

!stream
stream/**
!stream/chat.js
!stream/device.js

!commonconfig
commonconfig/**
!commonconfig/system.js

*.psd
*.map